<section id="three">
  <h2>Get In Touch</h2>
  <p>
    Have a project you'd like me to help out on, or intrested in having me speak
    at your event? <a href="mailto:{{ site.email }}">Email me</a> or contact me using the form below
    and I'll get back to you shortly!
  </p>
  <div class="row">
    <div class="8u 12u$(small)">
      <form accept-charset="UTF-8" method="POST" action="https://formkeep.com/f/3fc10ea68d95">
        <input type="hidden" name="utf8" value="✓">
        <div class="row uniform 50%">
          <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
          <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
          <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
        </div>
        <br />
        <ul class="actions">
          <li><input type="submit" value="Send Message" /></li>
        </ul>
      </form>
    </div>
    <div class="4u$ 12u$(small)">
      <ul class="labeled-icons">
        <li>
          <h3 class="icon fa-home"><span class="label">Location</span></h3>
          Oceanside, CA<br />
          United States
        </li>
        <li>
          <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
          760-525-4041
        </li>
        <li>
          <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </li>
      </ul>
    </div>
  </div>
</section>

