<section id="two">
  <h2>Recent Projects</h2>
  <div class="row">
    <article class="6u 12u$(xsmall) work-item">
      <a href="#" class="image fit thumb"><img src="/assets/images/thumbs/01.jpg" alt="" /></a>
      <h3>Coming Soon</h3>
      <p>Project info coming soon...</p>
    </article>
    <article class="6u$ 12u$(xsmall) work-item">
      <a href="#" class="image fit thumb"><img src="/assets/images/thumbs/02.jpg" alt="" /></a>
      <h3>Coming Soon</h3>
      <p>Project info coming soon...</p>
    </article>
  </div>
</section>
