<section id="two">
  <h2>Recent Projects</h2>
  <div class="row">
    <article class="6u 12u$(xsmall) work-item">
      <a href="http://www.thebalance.cc" class="image fit thumb">
        <img src="/assets/images/projects/the-balance.jpg" alt="The Balance Screenshot" />
      </a>
      <h3>The Balance Podcast: Custom Audio Player</h3>
      <p>
        Using JavaScript, I build a custom audio player for the guys at The Balance Podcast
      </p>
    </article>
    <article class="6u$ 12u$(xsmall) work-item">
      <a href="http://sproutable.madebykevin.com" class="image fit thumb">
        <img src="/assets/images/projects/sproutable.jpg" alt="Sproutable Screenshot" />
      </a>
      <h3>Sproutable</h3>
      <p>
        My "Best Design" winning entry for the 10k apart contest. This sample
        application uses less than 10kb of code to create a kid-friendly
        restaurant and activity search website.
      </p>
    </article>
  </div>
</section>
